button {
    display: block;
    margin: 50px auto;
}

.book-card {
    position: relative;
    background-color: rgb(187, 187, 187);
    border: solid 1px black;
    border-radius: 8px;
    height: 225px;
    width: 225px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.book-card div {
    margin-top: 15px;
    margin-left: 15px;
}

.capitalize {
    text-transform: capitalize;
}

.trashcan-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: 12px;
    right: 12px;
    cursor: pointer;
    /* transition: transform 0.2s, fill 0.2s; */
}

.trashcan-icon:hover {
    transform: scale(1.2);
}

.library-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    max-width: 1285px;
    gap: 40px;
    margin: 50px auto 0 auto;
}

