button {
    display: block;
    margin: 50px auto;
}

.book-card {
    background-color: rgb(187, 187, 187);
    border-radius: 15px;
    height: 200px;
    width: 200px;
}

.capitalize {
    text-transform: capitalize;
}

.library-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    max-width: 1160px;
    gap: 40px;
    margin: 50px auto 0 auto;
}

