button {
    display: block;
    margin: 50px auto;
}

.book-card {
    position: relative;
    background-color: rgb(187, 187, 187);
    border-radius: 15px;
    height: 200px;
    width: 200px;
}

.capitalize {
    text-transform: capitalize;
}

.trashcan-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: 12px;
    right: 12px;
    cursor: pointer;
}

.trashcan-icon:hover {
    transform: scale(1.2);
}

.library-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    max-width: 1160px;
    gap: 40px;
    margin: 50px auto 0 auto;
}

